* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-image: url("/images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(242, 242, 241) !important;

}

h4 {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

p {
    color: hsl(0, 0%, 48%);
    font-size: 14px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.burger_nav_bar {
    display: none;
}

.header {
    margin: 5% 10% 5% 10%;
    text-align: center;
    z-index: 2;

}

.nav {
    justify-content: space-between;
    display: flex;
}

.nav__item {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 300;  
    
}
.nav__item a {
    color: white;
    
}
.nav__item a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.logo {
    display: block;
    z-index: 2;
    position: sticky;
    padding: 6%;
} 

@media only screen and (max-width: 600px) {
    body {
    background-image: url("/images/image-hero-mobile.jpg");
    }
    .main_content {
        margin-top: 14%;
        margin: 10%;
        position: relative;
    }
    .nav_bar {
        display: none;
    }
    .nav_bar_toggle {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: fit-content;
        margin: 0;
        padding-top: 80px;
        padding-bottom: 20px;
        list-style: none;
        background-color: white;
        z-index: 1;
      
    }
    .nav_toggle {
        justify-content: center !important;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: top;
        
    }
    .nav__item_toggle a {
        font-size: 160%;
        display: block;
        padding: 20px; 
        letter-spacing: 1px;
        line-height: 1em;
        color: white;
        }
    .nav__item_toggle a:hover {
        color: black;
        cursor: pointer;
        text-decoration: none;
        }
    .nav_container .nav_collapse {
        align-items: flex-end;
    }    
    .nav_container .nav {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    .nav_container .navigation {
        flex-direction: column !important;
      }
     

    .burger_nav_bar {
        display: block;
        top: 5px;
        right: 30px;
        width: 40px;
        height: 60px;
        background-color: transparent;
        z-index: 2;
        position: fixed;
    }
    .burger_lines,
    .burger_lines::after,
    .burger_lines::before {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        display: block;
        top: 50%;
        transition-duration: .25s;
    }  
   
    .burger_lines::after {
        content: "";
        top: -12px;
    }
    .burger_lines::before {
        content: "";
        top: 12px;
    }
    .burger_cross {
        transform: rotate(45deg);
        transition-duration: .25s;
        width: 100%;
        height: 3px;
        background-color: black;
        display: block;
      }
    .burger_cross::before {
        top: 0;
        transform: rotate(0);
        
      }
    .burger_cross::after {
        top: 0;
        transform: rotate(90deg);    
      }   

    .mastercraft_logo img{
        margin-left: 35%;
    }
    .main_content {
        margin-top: 14%;
        width: 50%;
        margin-left: 25%;
        position: relative;
    }

    .intro, .statistics {
        margin-bottom: 20px;
        padding: 32px;
        background-color: white;
    }
    
    .about {
        padding: 32px;
        background-color: white;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    .mastercraft_logo img{
    display: block;
    position: absolute;
    margin-top: -25px;
    margin-left: 45%;
    }

    #mastercraft_heading {
        text-align: center;
        margin-top: 8%;
        font-weight: 700;
    }

    #mastercraft_heading_text {
        text-align: center;
        font-size: 14px;
    }

    #about_heading {
        margin-bottom: 20px;
        font-weight: 700;
    }

    .card {
        padding: 32px;
        margin: 24px 0 24px 0;
    }

    #pledge {
        color: hsl(176, 50%, 47%);
        font-weight: 500;
    }

    #card-text{
        margin: 20px 0 20px 0;
        font-size: 16px;
    }

    #card_3{
        margin-bottom: 0px;
        color: grey;
    }
    
    .line {
        text-align: center;
        margin-bottom: 14px;
    }
    .stat{
        text-align: center;
    }
    .btn-toolbar{ 
        margin-top: 24px;
    }

    #back, #reward {
        padding: 15px 40px 15px 40px;
        border: 0cm;
        border-radius: 40px;
        background-color: hsl(176, 72%, 28%);
        color: white;
        font-weight: bold;
    }
    #button-out{
        background-color: #bcbcbc;
        padding: 15px 40px 15px 40px;
        border: 0cm;
        border-radius: 40px;
        color: white;
        font-weight: bold;
    }
    .switcher_bookmarked_off {
        background-image: url('images/icon-bookmark.svg');
        background-repeat: no-repeat;
        padding: 8px 14px 8px 50px;
        border: 0.001px solid gray;
        margin-top: 14px;
        border-radius: 50px;
        background-size: 29%;
    }
    .switcher_bookmarked_off::before {
        font-weight: bold;
        content: "Bookmark";
    }
    .switcher_bookmarked_on {
        background-image: url('images/icon-bookmarked-green.jpg');
        background-size: 28%;
        background-repeat: no-repeat;
        border: 1px solid hsl(176, 72%, 28%);
        background-color: white;
        padding: 8px 8px 8px 40px;
        border: 0.001px solid gray;
        margin-top: 14px;
        border-radius: 50px;
    }
    .switcher_bookmarked_on::before {
        font-weight: bold;
        color: hsl(176, 72%, 28%);
        content: "Bookmarked";
    }   
    .progress {
        --progress: 0%;
        margin-top: 24px;
        border-radius: 25rem !important;
    }
    
    .progress .bar {
        width: var(--progress);
        height: 100%;
        border-radius: 25rem;
        background: hsl(176, 72%, 28%);
        transition: width 3s ease 3s;
    }
    
    @property --progress {
        syntax: "<length>";
        initial-value: 0%;
        inherits: true;
    }

    .n_left {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 14px;
    }

    .n_left small {
        color: grey;
        font-size: 16px;
        position: relative;
        bottom: 8%;
    }

    .modal-header{
        border-bottom: solid white !important;
        padding: 32px 32px 0px 32px !important;
    }
    .modal-intro-info{
        padding: 0px 32px 0px 32px;
    }
    .modal-title{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 24px;
        color: black;
    }
    .modal-intro-text p{
            color: gray;
            margin: 0px;
        }
    .modal-body{
        padding: 0px !important;
    }    
    .modal-card{
        border: 1px solid rgb(199, 195, 195);
        border-radius: 8px;
        padding: 32px;
        margin: 32px;
    }
    #n_left-modal{
        font-size: 8px;
        color: white;   
    }

    #n_left-modal span {
        color: white;
        font-weight: 400;
        
    }

    .gratitude{
        padding: 32px;
        display: block;
        text-align: center;
    }
    .gratitude h3{
        color: black;
        margin: 32px 0 32px 0;
    }

    .gratitude p{
        margin-bottom: 32px;
    }
    .dot {
        height: 25px;
        width: 25px;
        background-color: white;
        border: 1px solid hsl(176, 50%, 47%);
        border-radius: 50%;
        display: inline-block;
    }
    .collapse-rules{
        padding-top: 24px;
    }
    .collapse-dot{
        background-color: hsl(176, 50%, 47%);
        height: 18px;
        width: 18px;
        border: 1px solid hsl(176, 50%, 47%);
        border-radius: 50%;
    }
    .dots-footer {
        padding-top: 24px;
        border-top: 0.5px solid gray;
        align-items: center;
    }
    .dots-collapse-inpbuttons{
        display: flex;
        justify-content: end;
        
    }
    #amount-form{
        align-items:end;
    }
    .amount{
        background-color: white;
        border: 1px solid hsl(176, 50%, 47%);
        border-radius: 43%;
        padding: 0px 15px 0 15px;
        width: 70%;
        height: 100%;
        font-weight: bold;
    }
    #modal-card-4{
        color: grey;
    }
    .email-form{
        background-color: white;
        border: 1px solid hsl(176, 50%, 47%);
        padding: 15px 15px 15px 15px;
        width: 90%;
        height: 100%;
    }

    }

    @media only screen and (min-width: 601px) and (max-width: 1439px) {
        .header .row {
            flex-wrap: nowrap;
            margin: 0;
        }
        .main_content {
            margin-top: 14%;
            width: 50%;
            margin-left: 25%;
            position: relative;
        }
    
        .intro, .statistics {
            margin-bottom: 20px;
            padding: 32px;
            background-color: white;
            
        }
        .statistics h1{
            font-size: 24px;
        }
        
        .about {
            padding: 32px;
            background-color: white;
        }
    
        .attribution { 
            font-size: 11px; 
            text-align: center; 
        }
        .attribution a { 
            color: hsl(228, 45%, 44%); 
        }
    
        .mastercraft_logo img{
        display: block;
        position: absolute;
        margin-top: -25px;
        margin-left: 45%;
        }
    
        #mastercraft_heading {
            text-align: center;
            margin-top: 8%;
            font-weight: 700;
        }
    
        #mastercraft_heading_text {
            text-align: center;
            font-size: 14px;
        }
    
        #about_heading {
            margin-bottom: 20px;
            font-weight: 700;
        }
    
        .card {
            padding: 32px;
            margin: 24px 0 24px 0;
        }
    
        .card-heading{
            display: flex;
            justify-content: space-between;
        }
    
        #pledge {
            color: hsl(176, 50%, 47%);
            font-weight: 500;
        }
    
        #card-text{
            margin: 20px 0 20px 0;
            font-size: 16px;
        }
    
        #card_3{
            margin-bottom: 0px;
            color: grey;
        }
        .line {
            border-right: 1px solid grey;
            height: 4.5rem;
        }
        .stat {
            padding-left: 3% !important;
        }
        .btn-toolbar{ 
            margin-top: 24px;
        }
    
        #back, #reward {
            padding: 15px 40px 15px 40px;
            border: 0cm;
            border-radius: 40px;
            background-color: hsl(176, 72%, 28%);
            color: white;
            font-weight: bold;
        }
        #button-out{
            background-color: #bcbcbc;
            padding: 15px 40px 15px 40px;
            border: 0cm;
            border-radius: 40px;
            color: white;
            font-weight: bold;
        }
        .switcher_bookmarked_off {
            background-image: url('images/icon-bookmark.svg');
            background-repeat: no-repeat;
            padding: 32px;
            border: 1px solid transparent;
            background-color: white;
        }
    
        .switcher_bookmarked_on {
            background-image: url('images/icon-bookmarked-green.jpg');
            background-size: 86%;
            background-repeat: no-repeat;
            padding: 32px;
            border: 1px solid transparent;
            background-color: white;
        }
        .progress {
            --progress: 0%;
            margin-top: 24px;
            border-radius: 25rem !important;
        }
        
        .progress .bar {
            width: var(--progress);
            height: 100%;
            border-radius: 25rem;
            background: hsl(176, 72%, 28%);
            transition: width 3s ease 3s;
        }
        
        @property --progress {
            syntax: "<length>";
            initial-value: 0%;
            inherits: true;
        }
        
        .select-reward {
            display: flex;
            justify-content: space-between;
        }

        .n_left {
            font-weight: bold;
            font-size: 18px;
        }
    
        .n_left small {
            color: grey;
            font-size: 14px;
            position: relative;
            bottom: 8%;
        }
    
        .modal-header{
            border-bottom: solid white !important;
            padding: 32px 32px 0px 32px !important;
        }
        .modal-intro-info{
            padding: 0px 32px 0px 32px;
        }
        .modal-title{
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 24px;
            color: black;
        }
        .modal-intro-text p{
                color: gray;
                margin: 0px;
            }
        .modal-body{
            padding: 0px !important;
        }    
        .modal-card{
            border: 1px solid rgb(199, 195, 195);
            border-radius: 8px;
            padding: 32px;
            margin: 32px;
        }
        #n_left-modal{
            font-size: 14px;   
        }
    
        #n_left-modal span {
            color: grey;
            font-weight: 400;
            
        }
    
        .gratitude{
            padding: 32px;
            display: block;
            text-align: center;
        }
        .gratitude h3{
            color: black;
            margin: 32px 0 32px 0;
        }
    
        .gratitude p{
            margin-bottom: 32px;
        }
        .dot {
            height: 25px;
            width: 25px;
            background-color: white;
            border: 1px solid hsl(176, 50%, 47%);
            border-radius: 50%;
            display: inline-block;
        }
        .collapse-rules{
            padding-top: 24px;
        }
        .collapse-dot{
            background-color: hsl(176, 50%, 47%);
            height: 18px;
            width: 18px;
            border: 1px solid hsl(176, 50%, 47%);
            border-radius: 50%;
        }
        .dots-footer {
            padding-top: 24px;
            border-top: 0.5px solid gray;
            align-items: center;
        }
        .dots-collapse-inpbuttons{
            display: flex;
            justify-content: end;
            
        }
        #amount-form{
            align-items:end;
        }
        .amount{
            background-color: white;
            border: 1px solid hsl(176, 50%, 47%);
            border-radius: 43%;
            padding: 0px 15px 0 15px;
            width: 70%;
            height: 100%;
            font-weight: bold;
        }
        #modal-card-4{
            color: grey;
        }
        .email-form{
            background-color: white;
            border: 1px solid hsl(176, 50%, 47%);
            padding: 15px 15px 15px 15px;
            width: 90%;
            height: 100%;
        }
        
    
    }

    @media only screen and (min-width: 1440px) and (max-width: 2560px) {
        .header .row {
            flex-wrap: nowrap;
            margin: 0;
        }
        .mastercraft_logo img{
            margin-left: 50%;
        }
        
    .main_content {
        margin-top: 14%;
        width: 50%;
        margin-left: 25%;
        position: relative;
    }

    .intro, .statistics {
        background-color: white;
        padding: 32px;
        margin-bottom: 24px;
    }
    
    .about {
        padding: 32px;
        background-color: white;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    .mastercraft_logo img{
    display: block;
    position: absolute;
    margin-top: -25px;
    margin-left: 45%;
    }

    #mastercraft_heading {
        text-align: center;
        margin-top: 8%;
        font-weight: 700;
    }

    #mastercraft_heading_text {
        text-align: center;
        font-size: 14px;
    }

    #about_heading {
        margin-bottom: 20px;
        font-weight: 700;
    }

    .card {
        padding: 32px;
        margin: 24px 0 24px 0;
    }

    .card-heading{
        display: flex;
        justify-content: space-between;
    }

    #pledge {
        color: hsl(176, 50%, 47%);
        font-weight: 500;
    }

    #card-text{
        margin: 20px 0 20px 0;
        font-size: 16px;
    }

    #card_3{
        margin-bottom: 0px;
        color: grey;
    }
    .line {
        border-right: 1px solid grey;
        height: 4.5rem;
    }
    .stat {
        padding-left: 3% !important;
    }
    .btn-toolbar{ 
        margin-top: 24px;
    }

    #back, #reward {
        padding: 15px 40px 15px 40px;
        border: 0cm;
        border-radius: 40px;
        background-color: hsl(176, 72%, 28%);
        color: white;
        font-weight: bold;
    }
    #button-out{
        background-color: #bcbcbc;
        padding: 15px 40px 15px 40px;
        border: 0cm;
        border-radius: 40px;
        color: white;
        font-weight: bold;
    }
    .switcher_bookmarked_off {
        background-image: url('images/icon-bookmark.svg');
        background-repeat: no-repeat;
        padding: 15px 40px 15px 70px;
        border: 0.001cm solid transparent;
        border-radius: 50px;
        background-color: #E8E8E8;
        
    }
    .switcher_bookmarked_off::before {
        font-weight: bold;
        content: "Bookmark";
    }

    .switcher_bookmarked_on {
        background-image: url('images/icon-bookmarked-green.jpg');
        background-size: 26%;
        background-repeat: no-repeat;
        background-color: white;
        padding: 15px 40px 15px 70px;
        border: 0.001cm solid hsl(176, 72%, 28%);
        border-radius: 50px;
    }
    .switcher_bookmarked_on::before {
        font-weight: bold;
        color: hsl(176, 72%, 28%);
        content: "Bookmarked";
    }    
    .progress {
        --progress: 0%;
        margin-top: 24px;
        border-radius: 25rem !important;
    }
    
    .progress .bar {
        width: var(--progress);
        height: 100%;
        border-radius: 25rem;
        background: hsl(176, 72%, 28%);
        transition: width 3s ease 3s;
    }
    
    @property --progress {
        syntax: "<length>";
        initial-value: 0%;
        inherits: true;
    }
 
    .select-reward {
        display: flex;
        justify-content: space-between;
    }
    .select-reward h5:hover{
        color: hsl(176, 72%, 28%);
    }
    .select-reward-text h5:hover{
        color: hsl(176, 72%, 28%);
    }
    #blocked-card-4:hover{
        color: grey;
    }
    .n_left {
        font-weight: bold;
        font-size: 32px;
    }
    .n_left small {
        color: grey;
        font-size: 16px;
        position: relative;
        bottom: 8%;
    }

    .modal-header{
        border-bottom: solid white !important;
        padding: 32px 32px 0px 32px !important;
    }
    .modal-intro-info{
        padding: 0px 32px 0px 32px;
    }
    .modal-title{
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 24px;
        color: black;
    }
    .modal-intro-text p{
            color: gray;
            margin: 0px;
    }
    .modal-body{
        padding: 0px !important;
    }    
    .modal-card{
        border: 1px solid rgb(199, 195, 195);
        border-radius: 8px;
        padding: 32px;
        margin: 32px;
    }
    #n_left-modal{
        font-size: 14px;   
    }

    #n_left-modal span {
        color: grey;
        font-weight: 400;
        
    }

    .gratitude{
        padding: 32px;
        display: block;
        text-align: center;
    }
    .gratitude h3{
        color: black;
        margin: 32px 0 32px 0;
    }

    .gratitude p{
        margin-bottom: 32px;
    }
    .dot {
        height: 25px;
        width: 25px;
        background-color: white;
        border: 1px solid hsl(176, 50%, 47%);
        border-radius: 50%;
        display: inline-block;
    }
    .collapse-rules{
        padding-top: 24px;
    }
    .collapse-dot{
        background-color: hsl(176, 50%, 47%);
        height: 18px;
        width: 18px;
        border: 1px solid hsl(176, 50%, 47%);
        border-radius: 50%;
    }
    .dots-footer {
        padding-top: 24px;
        border-top: 0.5px solid gray;
        align-items: center;
    }
    .dots-collapse-inpbuttons{
        display: flex;
        justify-content: end;
        
    }
    #amount-form{
        align-items:end;
    }
    .amount{
        background-color: white;
        border: 1px solid hsl(176, 50%, 47%);
        border-radius: 43%;
        padding: 0px 15px 0 15px;
        width: 70%;
        height: 100%;
        font-weight: bold;
    }
    #modal-card-4{
        color: grey;
    }
    .email-form{
        background-color: white;
        border: 1px solid hsl(176, 50%, 47%);
        padding: 15px 15px 15px 15px;
        width: 90%;
        height: 100%;
    }
    
    
    }


