* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(0, 0%, 100%);
    background-image: url("/images/image-hero-desktop.jpg");
    background-repeat: no-repeat;
    background-size: 100%;

}

h4 {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-family: 'Outfit', sans-serif;
}

p {
    color: hsl(0, 0%, 48%);
    font-size: 14px;
    font-weight: 300;
    font-family: 'Outfit', sans-serif;
}

li {
    list-style-type: none;
    text-decoration: none;
}

.burger_nav_bar {
    display: none;
}

.header {
    margin: 5% 10% 5% 10%;
    text-align: center;
    z-index: 2;

}

.nav {
    justify-content: space-between;
    display: flex;
}

.nav__item {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 300;  
    
}
.nav__item a {
    color: white;
    
}
.nav__item a:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
}
.logo {
    display: block;
    z-index: 2;
    position: sticky;
    padding: 6%;
} 

@media only screen and (max-width: 600px) {
    body {
    background-image: url("/images/image-hero-mobile.jpg");
    }
    .nav_bar {
        display: none;
    }
    .nav_bar_toggle {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: fit-content;
        margin: 0;
        padding-top: 80px;
        padding-bottom: 20px;
        list-style: none;
        background-color: white;
        z-index: 1;
      
    }
    .nav_toggle {
        justify-content: center !important;
        margin-left: 10px;
        margin-right: 10px;
        vertical-align: top;
        
    }
    .nav__item_toggle a {
        font-size: 160%;
        display: block;
        padding: 20px; 
        letter-spacing: 1px;
        line-height: 1em;
        color: white;
        }
    .nav__item_toggle a:hover {
        color: black;
        cursor: pointer;
        text-decoration: none;
        }
    .nav_container .nav_collapse {
        align-items: flex-end;
    }    
    .nav_container .nav {
        flex-direction: column;
        flex-wrap: nowrap;
      }
    .nav_container .navigation {
        flex-direction: column !important;
      }
     

    .burger_nav_bar {
        display: block;
        top: 5px;
        right: 30px;
        width: 40px;
        height: 60px;
        background-color: transparent;
        z-index: 2;
        position: fixed;
    }
    .burger_lines,
    .burger_lines::after,
    .burger_lines::before {
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: white;
        display: block;
        top: 50%;
        transition-duration: .25s;
    }  
   
    .burger_lines::after {
        content: "";
        top: -12px;
    }
    .burger_lines::before {
        content: "";
        top: 12px;
    }
    .burger_cross {
        transform: rotate(45deg);
        transition-duration: .25s;
        width: 100%;
        height: 3px;
        background-color: black;
        display: block;
      }
    .burger_cross::before {
        top: 0;
        transform: rotate(0);
        
      }
    .burger_cross::after {
        top: 0;
        transform: rotate(90deg);    
      }   

    .mastercraft_logo img{
        margin-left: 35%;
    }

    }

    @media only screen and (min-width: 601px) and (max-width: 1440px) {
        .header .row {
            flex-wrap: nowrap;
            margin: 0;
        }
        
    
    }

    @media only screen and (min-width: 1441px) and (max-width: 2560px) {
        .header .row {
            flex-wrap: nowrap;
            margin: 0;
        }
        .mastercraft_logo img{
            margin-left: 50%;
        }
        
    
    }



    .main_content {
        background-color: white;
        margin-top: 14%;
        width: 50%;
        margin-left: 25%;
        position: relative;
    }

    .intro, .statistics {
        margin-bottom: 20px;
        padding: 32px;
        border: 3px solid black;
    }
    
    .about {
        padding: 32px;
        border: 3px solid black;
    }

    .attribution { 
        font-size: 11px; 
        text-align: center; 
    }
    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }

    .mastercraft_logo img{
    display: block;
    position: absolute;
    margin-top: -25px;
    margin-left: 45%;
    }

    #mastercraft_heading {
        text-align: center;
        margin-top: 8%;
        font-weight: 700;
    }

    #mastercraft_heading_text {
        text-align: center;
        font-size: 14px;
    }

    #about_heading {
        margin-bottom: 20px;
        font-weight: 700;
    }

    .card {
        padding: 20px;
        position: relative;
    }

    #pledge {
        position: absolute;
        right: 20px;
        color: hsl(176, 50%, 47%);
        font-weight: 500;

    }

    .line {
        border-right: 1px solid green;
    }
    .btn-toolbar{ 
        margin-top: 24px;
    }

    #back, #reward {
        padding: 15px 40px 15px 40px;
        border: 0cm;
        border-radius: 40px;
        background-color: hsl(176, 72%, 28%);
        color: white;
        font-weight: bold;
    }

    #switcher{
        background-image: url('images/icon-bookmark.svg');
        background-repeat: no-repeat;
        padding: 15px 40px 15px 70px;
        border: 0cm;
        border-radius: 50px;
        background-color: #E8E8E8;
        font-weight: bold;
    }

    #switcher:before {
        background-image: url('images/icon-bookmark.svg');
        background-repeat: no-repeat;
        padding: 20px 40px 20px 40px;
        border: 0cm;
        border-radius: 40px;
        background-color: #E8E8E8;
        font-weight: bold;
    }